@custom-variant dark (&:where(.dark, .dark *));




/* .p-table {
  font-family: Arial, sans-serif;
  font-size:10px;
}*/


/* ::ng-deep .p-datatable-thead > tr > th {
  font-size: 14px;
}

::ng-deep .p-datatable-tbody > tr > td {
  font-size: 12px;
}

.p-datatable-thead {
  padding: 0px;
} */

/* p-table .ui-table-tbody > tr:not(.ui-state-highlight):not(.ui-contextmenu-selected) {
  background-color: orange !important;
}

p-table .ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: green !important;
  color: #ffffff;
} */

/* Reduce column filter icon size */
/* ::ng-deep .p-column-filter-menu-button,
::ng-deep .p-column-filter-row-item .p-column-filter-element {
  font-size: 8px !important;
  width: 10px !important;
  height: 10px !important;
}

::ng-deep .p-column-filter-menu-button .p-icon {
  width: 8px !important;
  height: 8px !important;
}  */

/* .dark .p-table {
  font-family: Arial, sans-serif;
  background-color: red !important;
  color: green !important;
} */

.label-filters {
  text-shadow: 0px 1px 0px black;
}

.highlight-header-light {
  padding: 0px;
  background-color: #F9FAFB !important;
  color: #0e72e4;
  text-shadow: 0px 1px 1px lightgray;
  box-shadow: 1px 2px 2px 1px #9f9fa9;
  font-weight: 550;
  font-size: large;
}

.highlight-header-dark {
  padding: 0px;
  background-color: #132138 !important;
  color: #78e0ff;
  text-shadow: 0px 1px 1px lightgray;
  box-shadow: 1px 2px 2px 1px #9f9fa9;
  font-weight: 550;
  font-size: large;
}

.row-dark {
  background-color: #132138 !important;
}

.row-light {
  background-color: #F9FAFB !important;
}

.background-dark {
  background-color: #132138 !important;
}

.background-light {
  background-color: #F9FAFB !important;
}

/* .highlight-header-yellow-dark {
  color: #78e0ff;
  text-shadow: 0px 1px 0px black;
  box-shadow: 1px 2px 2px 1px lightgray;
  font-size: larger;
}

.highlight-header-yellow-dark .th {
  padding: 0px;
}

.highlight-header-yellow {
  color: #0e72e4;
  text-shadow: 0px 1px 1px lightgray;
  box-shadow: 1px 2px 2px 1px #9f9fa9;
}

.highlight-header-pink-dark {
  color: #ffffff;
  text-shadow: 1px 1px 0px black;
  box-shadow: 1px 2px 2px 1px lightgray;
  font-weight: 450;
  font-size: large;
}

.highlight-header-pink {
  color: #0e72e4;
  text-shadow: 0px 1px 1px lightgray;
  box-shadow: 1px 2px 2px 1px #9f9fa9;
  font-weight: 550;
  font-size: large;
}

.highlight-cell-yellow-dark {
  background-color: yellow;
  color: black;
}

.highlight-cell-yellow {
  color: #b7a106;
}

.highlight-cell-bg-green-dark {
  background-color: #3ed006;
  color: black;
}

.highlight-cell-green-dark {
  color: #3ed006;
}

.highlight-cell-green {
  color: #018e1a;
}

.highlight-cell-red-dark {
  background-color: red;
  color: black;
}

.highlight-cell-red {
  color: #e20405;
}

.highlight-cell-white-dark {
  background-color: white;
  color: black;
}

.highlight-cell-white {
  background-color: black;
  color: white;
} */

.inline-field {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 2px; /* space between label and input */
}

.inline-field label {
  white-space: nowrap;
}




.tag-light {
  color: #0e72e4;

}

.tag-dark {
  color: #78e0ff;
}




.WN-light {
  color: black;
  font-size: medium;
  font-weight: 500;
}

.WN-dark {
  color: white;
  font-size: medium;
  font-weight: 500;
}

/* .WY-light {
  color: white;
  background-color: black;
} */
/* .WY-light {
  color: white;
  background: radial-gradient(circle 80px at top left, black, white);
} */

/* .WY-dark {
  color: black;
  background-color: white;
} */
/* .WY-dark {
  color: black;
  background: radial-gradient(circle 80px at top left, white, lightgray, black);
} */

.RN-light {
  color: #e20405;
  font-size: medium;
  font-weight: 550;
}

.RN-dark {
  color: red;
  font-size: medium;
  font-weight: 550;
}

/* .RY-light {
  color: black;
  background-color: red;
} */

/* .RY-light {
  color: black;
  background: radial-gradient(circle 80px at top left, red, white);
} */

/*
background: #F53B24;
  background: radial-gradient(at center, #F53B24, #FFFFFF); */

/* .RY-dark {
  color: black;
  background-color: red;
} */
/* .RY-dark {
  color: black;
  background: radial-gradient(circle 80px at top left, red, white);
} */

.PN-light {
  color: #e20405;
  font-size: medium;
  font-weight: 550;
}

.PN-dark {
  color: red;
  font-size: medium;
  font-weight: 550;
}

/* .PY-light {
  color: black;
  background-color: red;
}

.PY-dark {
  color: black;
  background-color: red;
} */

.YN-light {
  color: #b7a106;
  font-size: medium;
  font-weight: 550;
}

.YN-dark {
  color: yellow;
  font-size: medium;
  font-weight: 550;
}

/* .YY-light {
  color: black;
  background-color: yellow;
} */

/* .YY-light {
  color: black;
  background: radial-gradient(circle 80px at top left, yellow, white);
} */

/* .YY-light {
  color: black;
  text-shadow: 0px 4px 6px yellow;
} */

/* .YY-dark {
  color: black;
  background-color: yellow;
} */

/* .YY-dark {
  color: black;
  background: radial-gradient(circle 80px at top left, yellow, white);
} */

.GN-light {
  color: #018e1a;
  font-size: medium;
  font-weight: 550;
}

.GN-dark {
  color: #3ed006;
  font-size: medium;
  font-weight: 550;
}

/* .GY-light {
  color: black;
  background-color: #018e1a;
}

.GY-dark {
  color: black;
  background-color: #3ed006;
} */

.TN-light {
  color: #06a1bc;
  font-size: medium;
  font-weight: 550;
}

.TN-dark {
  color: Aqua;
  font-size: medium;
  font-weight: 550;
}

.BN-light {
  color: #782FEB;
  font-size: medium;
  font-weight: 550;
}

.BN-dark {
  color: #8235FC;
  font-size: medium;
  font-weight: 550;
}

/* .TY-light {
  color: black;
  background-color: #06A1BC;
} */

/* .TY-light {
  color: black;
  background: radial-gradient(circle 80px at top left, #06a1bc, white);
} */

/* .TY-dark {
  color: black;
  background-color: Aqua;
} */
/* .TY-dark {
  color: black;
  background: radial-gradient(circle 80px at top left, Aqua, white);
} */

/* :host ::ng-deep .p-contextmenu {
    box-shadow: 10px 10px 5px red;
    color: red;
    max-height: 60px;
    overflow-y: auto;
    overflow-x: hidden;
} */

